!data/background_patch/*.bmp
!log_save/*

new_background/
the_real593_patches/
exp2_補500張e100_arg_high/
*.zip
*.png
*.jpg
.idea/
__pycache__/
*.py[cod]
*$py.class

/log*
.ipynb_checkpoints/*
misc/.ipynb_checkpoints/*
!data/raw_qr/*
!data/break_qr/*



